@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --text-primary: #ffffff;
    --texr-secundary:#000;
    --font-heading: 'Inconsolata';
    --font-default:'Montserrat';
    --text-main: #1E1E1E;
    }

html {
    font-size: 62.5%;
}


#hamburguer{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 3rem;
  width: 3rem;
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 11;
  cursor: pointer;
}

#hamburguer .linha{
  width: 100%;
  height: .4rem;
  background-color: var(--text-main);
  box-shadow: 0 .2rem .2rem #000;
}

nav ul{
  position: fixed;
  right: -20rem;
  background-color: #ffffff;
  height: 100vh;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 10;
  font-size: 1.5rem;
  transition: right 1s;
}

#menu li{
  list-style: none;
}

#menu a{
  text-decoration: none;
  color: var(--texr-secundary);
}

#menu a:hover{
  color: #86aec9;
}

.menu-show{
  right: 0;

}



body{
    font-family: var(--font-default);
    color: var(--text-primary);
    background: linear-gradient(-45deg, #baddf5, #86aec9, #6390ad, #1a6fa8);
    background-size: 1400% 1%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  justify-content: center;
  height: 100vh; 
  padding-left: 7.2rem;
  overflow: hidden;
  position: relative;
}


h1 {
  color: var(--text-main);
  font-family: 'Fira Code', monospace;
  font-size: 5rem;
  font-weight: 400;
  max-width: 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid var(--text-main);
  padding-right: 3px;
  animation: pisca normal infinite .8s, escrever normal 5s steps(55) both;
  display: inline-block;  
}
@keyframes pisca {
    100%{
        border-right-color: transparent;
    }
}

@keyframes escrever{
    100%{
        max-width: 100%;
    }
}

.button {
  border: none;
  font-family: sans-serif;
  font-size: 1.6rem;
  background: transparent;
  color: var(--text-main);
  border: solid 2px var(--text-main);
  padding: 10px;
  border-radius: 40px;
  transition-duration: 0.2s;
  text-decoration: none;
}
   
.button:before {
  content: "»";
  opacity: 0;
  margin-left: -15px;
  transition-duration: 0.2s;
}
   
.button:hover:before {
  margin-left: 0px;
  opacity: 1;
}
   
.button:hover {
  color: var(--text-main);
  background: rgba(0, 0, 0, 0.02);
  border: solid 2px var(--text-main);

}

img.avatar{
  border-radius: 50%;
}



/*card de conteudo */
.section-presentation{
  display: flex;
  height: 100vh;
  gap: 7rem;
  padding-left: 2rem;
  padding-right: 2rem;
  align-items: center;
  justify-content:center;

}

.card_conteudo {
  font-family: monospace;
  margin-top: -12rem;
  margin-left: calc(-5rem + -45px);
  width: 750px;
  height: auto;
  background:var(--text-main);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
  border-radius: 15px;
  padding-bottom: 28px;
}
  
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
  
.dots {
  display: flex;
  justify-content: last baseline;
}
  
.dot {
  width: 15px;
  border-radius: 50%;
  height: 15px;
}
  
.dot-1 {
  background-color: #ff605c;
}
  
.dot-2 {
  background-color: #ffbd44;
}
  
.dot-3 {
  background-color:#00ca4e;
}
  
.top p {
  font-size: 20px;
  font-weight: bold;
}
  
.dot , .top p {
  margin: 5px;
}
  
.g-color {
  color: darkgreen;
}
  
.bottom {
  padding: 10px 25px;
}
  
.code {
  font-size: 15px;
}
  
.red {
  --color-red: rgb(210, 63, 52);
  color: rgb(210, 63, 52);
}
  
.violet {
  color: rgb(181, 40, 203);
}
  
.blue {
  color: rgb(91, 131, 223);
}
  
.orange {
  color: rgb(195, 128, 3);
}
  
.white {
  color: rgb(163, 163, 163);
}

.purple{
  color: #7e40a1;
}

.pink{
  color: #ff316f;
}

.yellow{
  color: #ffbd44;
}
  
.space-4 {
  margin-left: 35px;
}
  
.space-4x2 {
  margin-left: 70px;
}

.card {
 width: 35rem;
 height: 30rem;
 padding: 3px;
 border-radius: 18px;
 overflow: visible;
 box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);

 position: relative;
 z-index: 1;
 margin-right: 2rem;
}


.card-info {
 --color: #181818;
 background: var(--color);
 color: var(--color);
 display: flex;
 justify-content: center;
 align-items: flex-end;
 width: 100%;
 height: 100%;
 overflow: visible;
 border-radius: 15px;
 box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
}

.card .title {
 font-weight: bold;
 letter-spacing: .1em;
 font-size: 20px;
 margin-bottom: .5rem;
 
}

.div_card{
  align-items: flex-end;
}

/*Hover*/
.card:hover::after {
 opacity: 0;
}

.card:hover .card-info{
  color: #ffffff;
 transition: color 1s;
}

.card-info img{
  height: 80%;
  width: 90%;
  position: absolute;
  padding: 1rem;
  margin: 2.5rem;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
}



 .button_paginas {
  display:flex;
  margin-top: 70vh;
  font-size: 20px;
  background-color: var(--text-main);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
  color: #fff;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  cursor: pointer;
  animation: bounce_513 5s infinite;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

@keyframes bounce_513 {
  0%,
    100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}


 .p_sub_pag{
  font-size: 4rem;
  padding-bottom: 8px;

 }


 #section-budged{
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 15px;
  margin-top: 12rem;
  margin-left: calc(5rem + 45px);
}


.form-budged{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  column-gap: 0.8rem;
  row-gap: 0.8rem;
  backdrop-filter: blur(50px);
  border-radius: 10px;
  padding: 2rem;
}


#section-budged form h4 {
  position: absolute;
  top: -25%;
  background-color: #fa4753;
  padding: .8rem 8rem;
  border-radius: 10px;
}

#section-budged form output{
  grid-column: 2;
  background-color: rgba(250, 71, 83, 0.7);
  border-radius: 12px;
  padding: .9rem;
  font-weight: 800;
  font-size: 2rem;
  margin-top: 30px;
}

.input {
  max-width: 190px;
  height: 30px;
  border: 2px solid transparent;
  outline: none;
  border-bottom: 2px solid #3f3f3f;
  caret-color: #3f3f3f;
  background-color: #212121;
  padding: 5px;
  transition: .5s linear;
  font-family: monospace;
  letter-spacing: 1px;
}

.input:focus {
  border: 2px solid #fa4753;
  caret-color: #fa4753;
  color: #fa4753;
  box-shadow: 4px 4px 10px #070707;
}

.input:focus::placeholder {
  color: #fa4753;
}
 




.estilo {
  -webkit-appearance: none;
  background: #fa4753;
  border-radius: 10px; 
  height: 8px;
}

.estilo::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #f7f6f6;
  box-shadow: 4px 4px 10px #070707;
  cursor: pointer;
  
}








.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

 }
 
 .container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
  user-select: none;

 }
 
 
 .checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #ccc;
  transition: all 0.3s;
  border-radius: 5px;
 
 }
 
 
 .container input:checked ~ .checkmark {
  background-color: #fa4753;
  animation: pop 0.5s;
  animation-direction: alternate;
  box-shadow: 4px 4px 10px #070707;
 }
 
 
 .checkmark:after {
  content: "";
  position: absolute;
  display: none;
 }
 

 .container input:checked ~ .checkmark:after {
  display: block;
 }
 

 .container .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
 }
 
 @keyframes pop {
  0% {
   transform: scale(1);
  }
 
  50% {
   transform: scale(0.9);
  }
 
  100% {
   transform: scale(1);
  }
 }

.radio-input input {
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: #ccc;
  border-radius: 5px;
  transition: .4s ease-in-out;
}


.radio-input input:hover {
  cursor: pointer;
  box-shadow: 4px 4px 10px #070707;
}

.radio-input input:checked {
  background-color: #fa4753;
  animation: pop 0.5s;
  animation-direction: alternate;
  box-shadow: 4px 4px 10px #070707;
}
/*media query */
@media (max-width: 980px){
    #section-projects ul{
    flex-direction: column;
  }
  img.avatar{
    display:none;
  }

}






